body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body, html, p, h1, h2, h3, h4, h5 {
	color: $color-primary;
}

ul {
	margin: 0;
}

li {
	list-style: none;
}

p {
	margin: 0;
}

.breakline {
	display: block;
}