.footer {
	padding: 40px 0px;
	background: #DA262D;

	&__text {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 16px;
		color: white;
	}

	&__large-message {
		display: none;
	}

	&__button {
		background: white;
		color: #DA262D;
		font-weight: bold;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			height: 16px;
			width: 16px;
			top: 20px;
			left: 49px;
			background: url('../img/phone.svg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&:after {
			content: "";
			position: absolute;
			height: 10px;
			width: 6px;
			top: 21px;
			right: 48px;
			background: url('../img/arrow.svg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	@media(min-width: 768px) {
		&__button {
			color: white;
			background: transparent;
			font-size: 20px;
			line-height: 1;
			width: auto;

			&:before {
				content: "";
				position: absolute;
				height: 16px;
				width: 16px;
				top: 17px;
				left: -25px;
				background: url('../img/whitephone.svg');
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}

			&:after {
				display: none;
			}
		}
	}

	@media(min-width: 1024px) {

		&__text {
			float: left;
		}

		&__small-message {
			display: none;
		}

		&__large-message {
			display: inline-block;
			color: white;
			float: right;
		}

		&__button {
			float: right;
			padding: 0;
			display: inline-block;
			width: auto;
			margin-left: 50px;

			&:before {
				content: "";
				position: absolute;
				height: 16px;
				width: 16px;
				top: 5px;
				left: -25px;
				background: url('../img/whitephone.svg');
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}
}